#galaxy-map {
    position: absolute;
    top: 8%;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*background: transparent url('coui://ui/main/game/galactic_war/gw_play/backdrop.png') center no-repeat;*/
	background: transparent url('img/backdrop.png') center no-repeat;
    /*background-image: url('file://C:/Program%20Files%20(x86)/Steam/SteamApps/common/Planetary%20Annihilation%20Titans/media/ui/main/game/galactic_war/gw_play/backdrop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}
html, body {
    height: 100%;
    position: relative;
    min-width: 1280px;
    min-height: 720px;
    z-index: -3;
	background: none;
}

#player_info {
	float: left;
	right:5%;
	top:1%;
	position: absolute;
    font-family: 'Sansation Bold';
    font-size: 16px;
    color: #DDDDDD;
    /*text-shadow: 0px 0px 5px #CCCCCC;*/
}

.player_values{
    color: #88FFAA;
    text-shadow: 0px 0px 15px #88FFAA;
}

.horizontal_menu{
	margin-top:10px;
	display: inline-block;
}

.horizontal_menu li{
	float:left;
	margin-left:100px;
	line-height:20px;
	vertical-align:middle;
}

.vertical_menu{
	display: block;
}

.cmd_menu_title{
	font-size: 30px;
	line-height:25px;
}

.vertical_menu li{
	float:none;
}

.time_left
{
	font-family:sans-serif;
	font-style: italic;
	font-size:14px;
}

#log_in_status
{
	margin-top:15px;
}
#selected-system-anchor {
    position: fixed;
}

    #selected-system-anchor .below {
        position: relative;
        top: 5000%;
        width: 100em;
    }

    #selected-system-anchor .btn_hero {
        position: relative;
        left: -50%;
    }

#header {
    height: 105px;
    width: 100%;
    position: absolute;
    top: 0px;
	left:0px;
	opacity: 0.8;
	background: transparent url('img/cmd_logo.png') center no-repeat;
}

li.faction_line{	
    display: inline-block;
	margin-bottom:30px;
	margin-left:15px;

}

li.player_line{	
    display: inline-block;
	margin-bottom:5px;
	margin-left:20px;
}

.player_rank{
    display: inline-block;
	margin-bottom:5px;
	margin-left:40px;
}


#alive_icon{
	height: 28px;
	width: 28px;
	margin-right: 4px;
}
#dead_icon{
	border:2px solid grey;
	height: 28px;
	width: 28px;
	margin-right: 4px;
	box-shadow: 0px 0px 3px #000;
}
.float-right{
	float:right;
	margin-right:30px;
}

.attacking{
	font-size:18px;
    color: #FF3333;
    text-shadow: 0px 0px 8px #FFAAAA;
	
}

.pop_up_menu{
	text-align: center;
    height: 280px;
    width: 30%;
    position: absolute;
	right:35%;
	top:30%;
	background-color:rgba(50, 80, 100, 0.8);
	border:4px #88FFAA;
	text-shadow: 0px 0px 10px rgb(0, 179, 255);
}

button{
	margin-left:20px;
	font-size: 22px;
}


#send_money{
	margin-left:10px;
	font-size: 15px;
}

.head_text{
	text-align:left;
	font-family: 'Sansation Bold';
    font-size: 16px;
    color: #DDDDDD;
	margin-left:10px;
	margin-right:10px;
	margin-top:15px;
	padding-bottom:20px;
}

.info_text{
	text-align:left;
	font-family: 'Sansation Bold';
    font-size: 16px;
    color: #DDDDDD;
	margin-left:10px;
	margin-right:10px;
	margin-top:15px;
	padding-bottom:40px;
}

#ammount
{
}

.easy-autocomplete
{
	position: absolute;
	text-align: right;
}

.easy-autocomplete-container
{
	
	text-align: center;
}



img.faction_icon{
	display: inline-block;  
	height: 50px;
	/*padding-right: 30px;
	padding-top: 30px;
	background: url('img/icon_faction_2.png') center no-repeat;
	background-size: 30px 30px;*/
}

img.player_icon{
	display: inline-block;  
	height: 20px;
	margin-left:0px;
}



#system-column {
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    text-align: left;
    float: right;
}


#leaderboardTitle {
    font-size: 18px;
    color: #FFFFFF;
}

#system-info-board {
    width:300px;
    text-align: left;
    top: 150px;
	left: 405px;
    background: rgba(11, 26, 31, 0.9);
    padding: 16px 0px 16px 16px;
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    float: right;
    margin: 10px;
    max-height: 30%;
    overflow-y: auto;
	font-size:15px;
}


#mercenaries-board {
    width: 350px;
    text-align: left;
    top: 150px;
	left: 50px;
    background: rgba(11, 26, 31, 0.9);
    padding: 16px 0px 16px 16px;
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    float: right;
    margin: 10px;
    max-height: 80%;
    overflow-y: auto;
}

	#mercenaries-board #current_player {
		font-size: 15px;
	}
    #mercenaries-board .div_credits_title {
        font-family: 'Sansation Bold';
        font-size: 18px;
        color: #88DBFF;
        text-shadow: 0px 0px 20px #88DBFF;
        margin-bottom: 4px;
        line-height: 1.3;
    }



#faction-board {
    width: 400px;
    text-align: left;
    top: 150px;
	right: 50px;
    background: rgba(11, 26, 31, 0.9);
    padding: 16px 0px 16px 16px;
    box-shadow: 0px 0px 40px rgb(5, 5, 5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    float: right;
	font-size: 16px;
    margin: 10px;
    max-height: 40%;
    overflow-y: auto;
}

    #faction-board .div_credits_title {
        font-family: 'Sansation Bold';
        font-size: 18px;
        color: #88DBFF;
        text-shadow: 0px 0px 20px #88DBFF;
        margin-bottom: 4px;
        line-height: 1.3;
    }

    #faction-board .div_credits_name {
        min-width: 300px;
    }

    #faction-board .system-name,
    #faction-board .credits-category {
        font-family: 'Sansation Bold';
        font-size: 28px;
        color: #88DBFF;
        text-shadow: 0px 0px 20px #88DBFF;
        margin: 0px 0px 4px 0px;
    }

    #faction-board .credits_list .system-display {
    }
	

.system-display .content {
    display: inline-block;
}

.system-display .planets {
    display: block;
    margin-bottom: 0.5em;
}

.system-display .all-planets {
    /*vertical-align: top;*/
}

    .system-display .all-planets img {
        /*vertical-align: top;*/
    }

#system-detail .credits_list,
.system-display .description {
    max-height: 400px;
    color: #88DBFF;
    line-height: 1.7;
    padding-right: 16px;
    overflow: auto;
}

#system-detail .credits_list {
    max-height: 600px;
}